.admin {
  height: calc(100vh - 166px);
  .table thead th {
    border-top: none;
    border-bottom: 1px solid $black;
    .material-icons {
      font-size: 12px;
    }
  }
  .table td {
    border-color: $secondary;
  }
  .pagination {
    .page-link {
      border-color: $primary;
    }
  }
  .modal-body {
    &-img {
      background-image: url('https://hexschool.github.io/webLayoutTraining1st/week5/emilywang.jpeg');
      background-position: center center;
      background-size: cover;
      width: 141px;
      height: 141px;
    }
    &-content {
      flex-grow: 1;
    }
  }
  .verified-detail {
    max-height: 0;
    overflow: hidden;
    transition: max-height .25s;
    &.open {
      max-height: 38px;
    }
  }
}