.assignment {
  height: calc(100vh - 166px);
  // 左側 list
  &__list__item {
    border-color: $third;
    padding: 0.75rem;
    &.active {
      background-color: $third;
      border-color: $third;
      color: $black;
    }
    &-title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 160px;
    }
  }
  // 右側詳細對話
  &__article {
    &-avatar {
      max-width: 40px;
    }
    &:not(:last-of-type) {
      .assignment__article__content {
        border-bottom: 1px solid $secondary
      }
    }
  }
  &__article__editor {
    position: absolute;
    bottom: 0;
    right: 15px;
    overflow: hidden;
    width: 0%;
    height: 0%;
    transition: .5s;
    textarea {
      resize: none;
      // border: none;
      width: 100%;
    }
  }
  .card-features button:last-child:focus{
    box-shadow: none;
  }
}