.sidebar {
  // height: 100vh;
  max-width: 296px;
  h1 a{
    background-image: url('../images/logo.svg');
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    max-height: 40px;
  }
}

.router-link {
  position: relative;
  a {
    color: $black;
  }
  &.active, &:hover {
    a {
      color: $primary;
    }
    &::before {
      content: '';
      position: absolute;
      left: -3rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 2rem;
      background-color: $primary;
    }
  }
}
